@model IEnumerable<TopSegurosBrasil.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Gerenciar Clientes</h1>


<div class="mt-8">
    <p>
        <a asp-action="Create" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Criar Seguro</a>
    </p>

    <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-5">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th scope="col" class="py-3 px-6">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th scope="col" class="py-3 px-6">
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </th>
                    <th scope="col" class="py-3 px-6">
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th scope="col" class="py-3 px-6">
                        @Html.DisplayNameFor(model => model.TiposDeSeguro)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="bg-white border-b hover:bg-gray-50">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                            @Html.DisplayFor(modelItem => item.Id)
                        </th>
                        <td class="py-4 px-6">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td class="py-4 px-6">
                            @Html.DisplayFor(modelItem => item.DataNascimento)
                        </td>
                        <td class="py-4 px-6">
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td class="py-4 px-6">
                            @Html.DisplayFor(modelItem => item.TiposDeSeguro.Name)
                        </td>
                        <td class="py-4 px-6">
                            <a class="font-medium text-blue-600 hover:underline" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="font-medium text-blue-600 hover:underline" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="font-medium text-blue-600 hover:underline" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>