@model TopSegurosBrasil.Models.Prestador

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Deletar Prestador</h1>

<div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label class="labelCreateClients">Nome da Empresa</label>
            <input value="@Html.DisplayFor(model => model.NomeEmpresa)" class="inputCreateClients" disabled />
        </div>
        <div>
            <label class="labelCreateClients">CNPJ</label>
            <input value="@Html.DisplayFor(model => model.Cnpj)" class="inputCreateClients" disabled />
        </div>
        <div>
            <label for="TipoPrestador" class="labelCreateClients">Tipo do Prestador</label>
            <input value="@Html.DisplayFor(model => model.TipoPrestador)" class="inputCreateClients" disabled />
        </div>
        <div>
            <label class="labelCreateClients">Email</label>
            <input value="@Html.DisplayFor(model => model.Email)" class="inputCreateClients" disabled />
        </div>
        <div>
            <label class="labelCreateClients">Telefone</label>
            <input value="@Html.DisplayFor(model => model.Telefone)" class="inputCreateClients" disabled />
        </div>
        <div>
            <label for="Estado" class="labelCreateClients">Estado</label>
            <input value="@Html.DisplayFor(model => model.Estado)" class="inputCreateClients" disabled />
        </div>

        <div>
            <label class="labelCreateClients">Cidade</label>
            <input value="@Html.DisplayFor(model => model.Cidade)" class="inputCreateClients" disabled />
        </div>
        <div>
            <label class="labelCreateClients">Bairro</label>
            <input value="@Html.DisplayFor(model => model.Bairro)" class="inputCreateClients" disabled />
        </div>
        <div>
            <label class="labelCreateClients">CEP</label>
            <input value="@Html.DisplayFor(model => model.Cep)" class="inputCreateClients" disabled />
        </div>
        <div>
            <label class="labelCreateClients">Numero do imóvel</label>
            <input value="@Html.DisplayFor(model => model.Num_Imovel)" class="inputCreateClients" disabled />
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Deletar</button>
    <a asp-action="Index" class="underline font-medium text-blue-600 dark:text-blue-500 hover:underline">Voltar para lista</a>
</form>