@model TopSegurosBrasil.Models.Veiculo

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Detalhes do Veiculo</h1>

<div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="Chassi" class="labelCreateClients">Chassi</label>
            <input value="@Html.DisplayFor(model => model.Chassi)" id="Chassi" class="inputCreateClients" disabled />
        </div>
        <div>
            <label for="Cor" class="labelCreateClients">Cor</label>
            <input value="@Html.DisplayFor(model => model.Cor)" id="Cor" class="inputCreateClients" disabled />
        </div>
        <div>
            <label for="Fabricante" class="labelCreateClients">Fabricante</label>
            <input value="@Html.DisplayFor(model => model.Fabricante.NomeDoFabricante)" id="Fabricante" class="inputCreateClients" disabled />
        </div>
        <div>
            <label for="AnoDosModelo" class="labelCreateClients">Ano do Modelo</label>
            <input value="@Html.DisplayFor(model => model.AnoDosModelo.AnoModelo)" id="AnoDosModelo" class="inputCreateClients" disabled />
        </div>
        <div>
            <label for="Placa" class="labelCreateClients">Placa</label>
            <input value="@Html.DisplayFor(model => model.Placa)" id="Placa" class="inputCreateClients" disabled />
        </div>
        <div>
            <label for="NomeDoFabricante" class="labelCreateClients">Versão do Modelo</label>
            <input value="@Html.DisplayFor(model => model.VersaoDoModelo)" id="NomeDoFabricante" class="inputCreateClients" disabled />
        </div>
        <div>
            <label for="ClienteId" class="labelCreateClients">Cliente Id</label>
            <input value="@Html.DisplayFor(model => model.ClienteId)" id="ClienteId" class="inputCreateClients" disabled />
        </div>
    </div>
    <div>
        <a asp-action="Index" class="underline font-medium text-blue-600 dark:text-blue-500 hover:underline">Voltar para lista</a>
    </div>
</div>
