@model TopSegurosBrasil.Models.Apolice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Apolice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorApolice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorApolice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescApolice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescApolice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VeiculoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VeiculoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
